<div class="main">
  <!-- <app-item></app-item> -->
  <h1>My To Do List</h1>
  <label for="addItemInput">What would you like to do today?</label>
   
 <input
#newItem
placeholder="add an item"
(keyup.enter)="createItem(newItem.value); newItem.value = ''"
class="lg-text-input"
id="addItemInput" />

<button class="btn-primary" (click)="createItem(newItem.value)">Add</button>
 <!-- <button class="btn-todos" (click)="getTodos()" >Fetch todos</button> -->






  
  <div class="btn-wrapper">
    <button class="btn btn-menu" [class.active]="filter== 'all'"
    (click)="filter = 'all'">All</button>

    <button class="btn btn-menu" [class.active]="filter=='active'"
    (click)="filter = 'active'">To Do</button>

    <button class="btn btn-menu" [class.active]="filter=='done'" 
    (click)="filter = 'done'">Done</button>
  </div>
  

     <h6>{{items.length}}  <span *ngIf="items.length === 1; elseelseBloack">item</span>
    <ng-template #elseBlock>items</ng-template></h6>
  <ul>
    <li *ngFor="let item of items | paginate:{itemsPerPage: tableSize,
    currentPage: page, totalItems: count}">
      <app-item (updateStatus)="check(item)"  (remove)="remove(item)" [item]="item" (putTodosEvent)="putTodos($event)"></app-item>
    </li>
  </ul>
   <div>
     <pagination-controls previousLabel="prev"
     nextLabel="Next"
     (pageChange)="onTableDataChange($event)">
    </pagination-controls>
   </div>

   <div>
    <select (change)="onTableSizeChange($event)">
     <option *ngFor="let size of tableSizes">
            {{size}}
     </option>  
    </select>
 </div>
 
   </div>


  <!-- <nav aria-label="Page navigation example"> -->
  <!-- <ul class="pagination"> -->
    <!-- <li  *ngFor="let item of dataset"><button style="width:100x;height:40px;" class="btn-primary" (click)="getUserData(item,10)">{{item}}</button></l i> -->
    <!-- <li class="page-item" *ngFor="let item of dataset"><a (click)="getTodos(item,16)" class="page-link">{{item}}</a></li> -->
  <!-- </ul> -->
<!-- </nav> -->

 <!-- <div class="container"> -->
  <!-- <table class="table"> -->
    <!-- <tbody> -->
      <!-- <tr *ngFor="let post of POSTS | paginate:{itemsPerPage: tableSize, -->
        <!-- currentPage: page, -->
        <!-- totalItems: count}; let i = index"> -->
        <!-- <td>{{post.title}}</td> -->
      <!-- </tr> -->

    <!-- </tbody> -->
  <!-- </table> -->
     <!-- <div> -->
      <!-- <pagination-controls previousLabel="prev" -->
      <!-- nextLabel="Next" -->
      <!-- (pageChange)="onTableDataChange($event)"> -->

      <!-- </pagination-controls> -->
     <!-- </div> -->

 <!-- </div> -->

<!-- <ul class="list-group"> -->
  <!-- <li class="list-group-item" *ngFor="let item of allItems| paginate: { itemsPerPage: 20, currentPage: page }"> -->
        <!-- {{allItems}} -->
  <!-- </li> -->
<!--  -->
<!-- </ul> -->
<!-- <pagination-controls (pageChange)="page = $event"><pagination-controls> -->